name: PR Merge Comment
on:
  pull_request:
    types: [closed]
# Working
jobs:
  comment-on-merge:
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main' 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Count merged PRs
        id: count-prs
        run: |
          AUTHOR=$(jq -r '.pull_request.user.login' "$GITHUB_EVENT_PATH")
          REPO=${{ github.repository }}
          TOKEN=${{ secrets.PAT_TOKEN }}
          PR_COUNT=$(curl -s -H "Authorization: token $TOKEN" "https://api.github.com/repos/$REPO/pulls?state=closed" | jq "[.[] | select(.merged_at != null and .user.login == \"$AUTHOR\")] | length")
          echo "::set-output name=pr_count::$PR_COUNT"
          echo "::set-output name=author::$AUTHOR"
      - name: Comment on the PR
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          prCount=$(echo "${{ steps.count-prs.outputs.pr_count }}")
          author=$(echo "${{ steps.count-prs.outputs.author }}")
          mention="@HardikGoyal2003" # Mention for HardikGoyal2003
          if [ "$prCount" -eq 1 ]; then
            message="@${author} 1 PR merged successfully! ${mention}"
          elif [ "$prCount" -eq 2 ]; then
            message="@${author} You have merged 2 PRs successfully! ${mention}"
          else
            message="Excellent! @${author} You have merged ${prCount} PRs! ${mention}"
          fi
          curl -s -H "Authorization: token $PAT_TOKEN" -X POST \
          -d "{\"body\":\"$message\"}" \
          "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.pull_request.number }}/comments"
